<!DOCTYPE html>
<html>
<title>Personal Insight Analysis</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src='static/Chart.min.js'></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="leftMenu">
  <button onclick="closeLeftMenu()" class="w3-bar-item w3-button w3-large">Close &times;</button>
  <button onclick="openChallenge()" class="w3-bar-item w3-button">Challenge</button>
</div>

<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="challengeMenu">
  <button onclick="closeLeftMenu()" class="w3-bar-item w3-button w3-large">Close &times;</button>
  <button onclick="openChallenge()" class="w3-bar-item w3-button">Challenge</button>
</div>

<div class="w3-teal">
  <button class="w3-button w3-teal w3-xlarge w3-left" onclick="openLeftMenu()">&#9776;</button>
  <div class="w3-container">
    <h1>What attribute are you analysing?</h1>
  </div>
</div>

<div class="w3-container">
<div id='d1' style="position:absolute; top:200px; left:200px; z-index:1">  
<canvas id="chart" width="1080" height="720"></canvas>
</div>
<script>
   // bar chart data
   var barData = {
   labels : [{% for item in labels %}
                  "{{item}}",
              {% endfor %}],
   datasets : [
      {
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
         data : [{% for item in values %}
                      {{item}},
                    {% endfor %}]
      }
      ]
   }
 
   // get bar chart canvas
   var mychart = document.getElementById("chart").getContext("2d");
 
   steps = 10
   max = 10
   // draw bar chart
   new Chart(mychart).Bar(barData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true
   });
 
</script>
</div>
     
<script>
function openLeftMenu() {
    document.getElementById("leftMenu").style.display = "block";
}
function closeLeftMenu() {
    document.getElementById("leftMenu").style.display = "none";
}

function openChallenge() {
    document.getElementById("challengeMenu").style.display = "block";
}

</script>
     
</body>
</html>
